body{
    background-color: rgb(32, 32, 32);
}
.title{
    font-family: consolas;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}
.subtitle{
    font-family: consolas;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px black;
}
.text{
    font-family: consolas;
    font-size: 15px;
    text-align: center;
}
.note{
    font-size: 10px;
    text-align: center;
}
.box{
    background-color: lightslategray;
    border: 2px solid black;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.text_box{
    text-align: center;
}
.center_div{
    max-width: fit-content;
    margin-inline: auto;
}
.chatInput{
    width: 1000px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    outline: none;
    margin-top: 20px;
    background-color: rgb(48, 48, 48);
    color: white;
}
.chatButton{
    width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    outline: none;
    margin-top: 20px;
    background-color: rgb(48, 48, 48);
    color: white;
}
.chatButton:hover{
    background-color: rgb(64, 64, 64);
}
#output{
    font-family: consolas;
    font-size: 15px;
    text-align: center;
    color: white;
}
button{
    font-size: 15px;
}