/*animation*/
#myImage {
    position: absolute;
    left: 100px;
    top: 100px;
    animation: myMove 0.13s infinite;
}
@keyframes myMove {
    0%   {left: 200px; top: 200px;}
    50%  {left: 200px; top: 180px;}
    100%   {left: 200px; top: 200px;}

}